.add-employee{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #333;
}
.add-employee label input {
    color: #000;
    width: 100%;
    padding: 5px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  .update-product-form .add-employee .title{
    color: #00bfff;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  
    .update-product-form .add-employee .title::before,
    .update-product-form .add-employee .title::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 00px;
      background-color: #00bfff;
    }
  