

.all-badges {
  flex: 1;
  margin-left: 5rem; /* Default margin when sidebar is closed */
  transition: margin-left 0.3s ease;
}

.push-main-content {
  margin-left: 20rem; /* Adjusted margin when sidebar is open */
}

.pages {
  padding: 1rem;
}


/* Filters Container */
.filters-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem; /* space-x-4 */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Filter Input */
.filter-input {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.filter-input input,select {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid ; /* Border color */
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.filter-input input:focus {
  border-bottom: 2px solid #3182ce; /* Focus border color */
}

.filter-input label {
  position: absolute;
  top: -.2rem;
  left: 0;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  pointer-events: none;
}

.filter-input input:focus + label,
.filter-input input:not(:placeholder-shown) + label {
  top: -.6rem;
  font-size: 0.75rem;
  color: #3182ce; /* Focus label color */
}

/* Filter Select */
.filter-select {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.filter-select select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e5e7eb; /* Border color */
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.filter-select select:focus {
  border-color: #3182ce; /* Focus border color */
}

/* Clear Button */
.clear-button {
  padding: 0.5rem 1rem; /* px-4 py-2 */
  background-color: #3182ce !important; /* bg-blue-500 */
  border: none;
  border-radius: 4px; /* rounded-md */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #2c5282; /* hover:bg-blue-600 */
}





/* Table Container */
.table-Products-container {
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Table shadow */
}

.products-table th,
.products-table td {
  padding: 0.75rem 1rem; /* Cell padding */
  text-align: left;
  border-bottom: 1px solid #e5e7eb; /* Border color */
}

.table-Products-container .products-table th {
  font-weight: 600;
}

.products-table td img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.menu-actions{
  display: flex;
  gap: 8px;
}

/* No Products Message */
.no-products {
  text-align: center;
  color: #718096;
  margin-top: 2rem;
}


.offer-button a{
  background-color:rgb(241, 107, 11);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}


/*  */

/* From Uiverse.io by Galahhad */ 
/* The design is inspired from the mockapi.io */

.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: rgba(0, 0, 0, .15);
  --burger-color: #333;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 2.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: .3s;
  --burger-transition: all .1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: .95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #ccc;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: rgba(0, 0, 0, .2);
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: #eee;
  --nav-font-family: Menlo, Roboto Mono, monospace;
  --nav-default-scale: .8;
  --nav-active-scale: 1;
  --nav-position-left: 0;
  --nav-position-right: unset;
  /* if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
  /* title */
  --nav-title-size: 0.625em;
  --nav-title-color: #777;
  --nav-title-padding-x: 1rem;
  --nav-title-padding-y: 0.25em;
  /* nav button */
  --nav-button-padding-x: 1rem;
  --nav-button-padding-y: 0.375em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 12px;
  --nav-button-hover-bg: #6495ed;
  --nav-button-hover-text-color: #fff;
  --nav-button-distance: 0.875em;
  /* underline */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ccc;
  --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
  position: relative;
  display: inline-block;
}

.popup input {
  display: none;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}


.popup-window {
  position: absolute;
  top: 10px;
  right: -100px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90px;
  display: none;
}

.popup-window ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup-window ul li button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  text-align: left;
  gap: 4px;
}

.popup-window ul li:hover {
  background-color: #3182ce ;
    button{
        color: #fff;
    }

  
}

.popup input:checked ~ .popup-window {
  display: block;
}