
.View-More-About-Product{
    width: 100%;
}
.View-More-About-Product .Product-info{
    width: 700px;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    padding: 10px;
    gap: 15px;
}
.View-More-About-Product .Product-info img{
    border-radius: 5px;
    width: 35%;

}
.View-More-About-Product .Product-info .Product-detailes{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.product-and-back-button{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    text-align: left;
}
.product-and-back-button .back-button{
    margin-top: 30px;
    background-color: #e1e3e4d5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 30px;
    width: 120px;
    margin-left: 20px;
    
}
.product-and-back-button .back-button a,button{
    padding: 5px;
}

.product-and-back-button .Product-detailes label{
    font-size: 1em;
    font-weight: 600;
    color:#007bff;
}
.product-and-back-button .Product-detailes span{
    font-size: 1em;
   
}
.Update--Products-page{
    margin-left: 10px;
}
.Back-to-Products-page {
    margin-left: 10px;
}
.Delete-product button{
    background-color: transparent;
}
.action-and-cancel-View-btn .cancel-View-btn{
    background-color: rgb(218, 68, 68) !important;
    border-radius: 5px;
    color: #fff;
}
.action-and-cancel-View-btn{
   position: absolute;
   right: 20px;
}