@import "tailwindcss";
body{
    height: 100%;
}
.dashboard{
    height: 100vh;
}
/* button{
    background-color: transparent !important;
} */

h1, h2, h3, h4, h5, h6 {
    /* font-size: x-large;
    font-weight: 500; */
}
.add-ntf-all{
    font-weight: 700;
    padding: 1px 10px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 16px;
}

/* Light Theme (Default) */
:root {
    --background-color:#fff;
    --text-color: #000000;
    --primary-color: #007bff;
    --secondary-color: #ffffffc5;
    --nav-side-bar-background:#4f82b8;
    --nav-side-bar-color:#fff;
  }
  
  /* Dark Theme */
  [data-theme="dark"] {
    --background-color: oklch(.21 .006 285.885);
    --text-color: #fff ;
    --primary-color: #bb86fc;
    --secondary-color: oklch(.269 0 0);
    --nav-side-bar-background:oklch(.278 .033 256.848);
    --nav-side-bar-color:#fff;
  }

.dashboard{
    background-color:var(--background-color);
}

.first-section .card a .badge-card ,.table-Products-container , .filters-container
{
background-color: var(--secondary-color);
color: var(--text-color);
}

.second-section .orders-table ,.orders-table .recent-orders , .Most-Sales-Product
{
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.therd-section .Most-Ordered-Product , .orders-and-sales-chart
{
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.apexcharts-legend-text,#SvgjsG1314 text tspan{
    fill: var(--text-color) !important;
    color: var(--text-color) !important;
}

.notification-badge{
    background-color: var(--secondary-color);
    color: #fff;

}

.notification-item,.products-table,.Factore ,.order-container,.View-More-About-Product {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar-container ,.sidebar{
    background-color: var(--nav-side-bar-background);
    color: var(--nav-side-bar-color);
}
