
  

.table-header {
  padding: 16px 24px;
  border-bottom: 1px solid #e5e7eb;
}

.table-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.table-container2 {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px 24px;
  text-align: left;
  font-size: 14px;
}

.table th {
  font-weight: 500;
  text-transform: uppercase;
}

.table tbody tr {
  border-bottom: 1px solid #e5e7eb;
}

.table tbody tr:last-child {
  border-bottom: none;
}

.status {
  padding: 4px 8px;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 600;
}

.status.completed {
  background-color: #d1fae5;
  color: #059669;
}

.status.processing{
  background-color: #fef3c7;
  color: #d97706;
}

.status.cancelled {
  background-color: #fee2e2;
  color: #dc2626;
}

.status.confirmed {
  background-color: #dbeafe;
  color: #2563eb;
}

.status.special-request {
  background-color: #ede9fe;
  color: #7c3aed;
}